/Library Management System/LMS/nbproject/private/
/Library Management System/LMS/build/
/Employee/nbproject/private/
/Employee/build/
/ECommerce/nbproject/private/
/ECommerce/build/
/Voting_System/nbproject/private/
/Voting_System/build/