<?xml version="1.0" encoding="UTF-8"?>

<!--  
	<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context= "Http://www.springframework.org/schema/context"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 https://www.springframework.org/schema/beans/spring-beans.xsd">
-->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

 <context:annotation-config />
 <bean class="auto.spring1.adr" name="address">
 <property name="city" value="varanasi"></property>
 <property name="state" value="uttar pradesh"></property>
 </bean>
 
 <bean class="auto.spring1.adr" name="add">
 <property name="city" value="barelie"></property>
 <property name="state" value="U.P."></property>
 </bean>
 
  <!--  <bean class="auto.spring1.student" name="stu1" autowire="byType"></bean>-->
 <!--  <bean class="auto.spring1.student" name="stu1" autowire="byName"></bean>-->
  <bean class="auto.spring1.student" name="stu1" >
  
  </bean>
 </beans>